'<script type="text/javascript" id="ca_eum_ba" src="https://dxc.dxi-na1.saas.broadcom.com/api/1/urn:ca:tenantId:C3EBC855-F3B3-4981-9400-BAEBE60D299B/urn:ca:appId:Easy Wordpress/bajs?agent=browser" data-profileUrl="https://dxc.dxi-na1.saas.broadcom.com/api/1/urn:ca:tenantId:C3EBC855-F3B3-4981-9400-BAEBE60D299B/urn:ca:appId:Easy Wordpress/profile?agent=browser" data-tenantID="C3EBC855-F3B3-4981-9400-BAEBE60D299B" data-appID="Easy Wordpress" data-appKey="b1de92b0-6fbc-11ea-b9ef-6fb79b1c24b6" ></script>'